/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/* header styles */
.header-logo { 
    display: inline-block;

}
.header-navigation { 
    display: inline-block;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 222px; 
}
.header-container {
    
    width: 1160px;
    margin: 0 auto;
    
}

.nav-li {
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.nav-li:hover {
    border: 2px;
    color: red;
}
.a-li { 
    color: black;
}

.a-li:hover { 
    color: lightseagreen;
    
}
.header-con {
    margin-top: 37px;
}

.header-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 1180px;
    

}
.left-wraper {
    width: 545px;
    padding-top: 130px;
}
.left-text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #DF6951;
}
.left-text2 {
    font-family: 'Volkhov', serif;
    font-size: 84px;

}
.left-text3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.button {
    margin-top: 10px;
    padding: 18px 18px;
    border-radius: 10px;
    border-width: 1px;
    
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.button:hover { 
    background-color: lightsteelblue;
}
.margintext { 
    margin-bottom: 30px;
}
.back-img {
    background-image: url(../img/Decore.png);
    background-repeat: no-repeat;
    background-position: top right;
    
}
/* First section */
.first-cont {
    background-image: url(../img/Group\ 4.svg);
    background-position: top right;
    background-repeat: no-repeat;
    width: 1102px;
    margin: 0 auto;
    padding-top: 97px;
}

.fist-cont-text { 
    width: 547px;
    margin: 0 auto;
    text-align: center;
    
}
.offer {
    font-family: 'Volkhov', serif;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 58px;
}
.second-cont-blocks { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 1102px;
}
.first-cont-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 1102px;

}


.block:hover { 
    -webkit-transform: scale(1.5); 
        -ms-transform: scale(1.5); 
            transform: scale(1.5); 
}

.block {
    height: 280px;
    width: 200px;
    border-radius: 36px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 18px gray;
            box-shadow: 5px 5px 18px gray;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

}
/* second section */
.second-cont {
    background-image: url(../img/Decore.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 1102px;
    margin: 0 auto;
    margin-top: 123px;
}
.second-cont-text { 
    width: 547px;
    margin: 0 auto;
    text-align: center;
}
/* .preis:hover { 
    display: block;
    bottom: 0;
    background-color: white;
    height: 130px;
    width: 100%;
    border-radius: 0 0 24px 24px ;
} */
.euro:hover { 
    -webkit-transform: scale(1.5); 
        -ms-transform: scale(1.5); 
            transform: scale(1.5);
    
}
.euro {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    
}
.textblock1 {
    font-size: 16px;
    text-align: center;
}
.events { 
    -webkit-box-align:end; 
        -ms-flex-align:end; 
            align-items:flex-end
}
.calculate {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.calc-text { 
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btnplay { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 396px;
    height: 60px;
}

.romimg { 
    width: 100%;
    height: 100%;
    
}

.rome { 
    background-image: url(../img/rome.png);
    background-position: center;    
    background-repeat: no-repeat;
    width: 314px;
    height: 400px;
    border-radius: 24px;
    -webkit-box-shadow: 5px 5px 18px gray;
            box-shadow: 5px 5px 18px gray;
    
    
}

.london { 
    background-image: url(../img/london.png);
    background-position: center;    
    background-repeat: no-repeat;
    width: 314px;
    height: 400px;
    border-radius: 24px;
    -webkit-box-shadow: 5px 5px 18px gray;
            box-shadow: 5px 5px 18px gray;
    
    

    
}
.europe {
    background-image: url(../img/europe.png);
    background-position: center;    
    background-repeat: no-repeat;
    width: 314px;
    height: 400px;
    border-radius: 24px;
    -webkit-box-shadow: 5px 5px 18px gray;
            box-shadow: 5px 5px 18px gray;
    
    
    
}
.right-block-image {
    max-width: 765px;
    width: 100%;
}

.preis {
    width: 315px;
    height: 130px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(#e3ffe7), to(#d9e7ff));
    background: -o-linear-gradient(left, #e3ffe7 0%, #d9e7ff 100%);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 0 0 24px 24px;
    margin-top: 270px;
    
}

.preismargin {
    
    -ms-flex-pack: distribute;
    
        justify-content: space-around;
    padding-top: 25px;
    
}
.Italy { 
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}
.cost {
    display: inline-block;
    margin-left: 110px;
    font-size: 20px;
    color: goldenrod;
}
.divp {
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
}

.trip {
    width: 20px; 
    height: 20px;
    margin-left: 30px;
    margin-top: 35px;
    display: inline-block;

}

/* booking Section  */
.bookingblock { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 1102px;
    margin: 0 auto;
    margin-top: 186px;
    
}

.booking-p1 {
    font-size: 50px;
    font-family: 'Volkhov', serif;
    width: 511px;
}
.grouptext1 { 
    width: 293px;
    font-weight: bold;
}
.grouptext2 { 
    width: 293px;
}

.grouptext { 
    display: inline-block;
    margin-left: 21px;
}
.group { 
    display: inline-block;
}
.group-wraper {
    margin-top: 31px;
}
.group2 { 
    margin-top: 48px;
    margin-bottom: 48px;
}

.booking-left { 
    margin-left: 50px;
}

.booking-right-block {
    width: 370;
    height: 400px;
    border-radius: 26px;
    -webkit-box-shadow: 5px 5px 50px lightblue;
            box-shadow: 5px 5px 50px lightblue;
    margin-left: 118px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.booking-right-block:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.right-image { 
    width: 321px;
    height: 161px;
    padding-left: 21px;
    padding-top: 21px;  
    padding-right: 21px;
}

.iconimage { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 139px;
    height: 36px;
    margin-bottom: 30px;
}
.trip2 { 
    padding-left: 21px;
    margin-top: 21px;
}
.datadiv { 
    margin-top: 21px;   
    margin-bottom: 21px;
}
.peoplediv { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}
.peopletext { 
    padding-left: 15px;
}
.sendimaage { 
    padding-left: 13px; 
    padding-right: 13px;
}
.partners { 
    width: 1102px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 96px;
    
}
.partnersimage {
    width: 220px;
    height: 162px;
}
.partner { 
    width: 220px;
    height: 162px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.subscribe {
    margin: 0 auto;
    width: 1102px;
    margin-top: 124px;
}

.sub-block {
    background-color: #DFD7F9;
    background-repeat: no-repeat;
    border-radius: 129px 20px 20px 20px;
    width: 1102px; 
    background-image: url(../img/subscribe/Rectangle\ 154.svg);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.text-block {
    width: 859px;
    margin: 0 auto;
    text-align: center;
    color: #5E6282;
    font-size: 33px;
    padding-top: 40px;
}
.sub-form {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 74px;
    padding-bottom: 74px;
}
input[type=submit] {
    width: 180px;
    background-color: #FF946D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=email] {
    width: 421px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
}
input[type=submit]:hover { 
    background-color: lightpink;
}

.footer-block {
    width: 1102px;
    margin: 0 auto;
    margin-top: 70px;
    color: black;
    background-color: lightpink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 24px;
}

.footer-text1 { 
    font-size: 21px;
    margin-bottom: 16px;
}

.textlogo {
    width: 207px;
    margin-bottom: 126px;
}
.jadoo { 
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}

.footer-block1 { 
    width: 1102px;
    padding-top: 25px;
    padding-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
}
.li-nav {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* .social-icons { 
    display: flex;
    width: 214px;

} */
.insta { 
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}
.insta:hover {
    background-color: #833AB4;
}

.facebook:hover { 
    background-color: #5851DB;
}

.twitter:hover { 
    background-color: #5851DB;
}
.socialicons {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.discover {
    margin-top: 16px;
    margin-bottom: 16px;
}
.paddingicon { 
    padding-top: 10px;
}

h1:after {
    content: ' \00A9';
}

.footerend {
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 20px;
}